.page-header
  = link_to decorated_offer.request, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 Editing offer
= render partial: 'form', locals: {url: request_offer_path(request_object, decorated_offer)}